<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: repeat;
            background-size: 100%;
            background-color : rgb(29, 29, 29);
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        .cardsT {
            color: rgb(55, 22, 22);
            /* transition: color 2s ease-in-out, background-color 0.15s ease-in-out; */
        }
        .cardsT:hover {
            color: rgb(100, 135, 180);
            /* transition: color 2s ease-in-out, background-color 0.15s ease-in-out;*/
        }

        .cardhover {
            background-color : rgb(229, 229, 229);
            transition: color 2s ease-in-out, background-color 0.5s ease-in-out;
        }
        .cardhover:hover {
            background-color : rgb(237, 108, 108);
            transition: color 2s ease-in-out, background-color 0.5s ease-in-out;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    <br>
    <h1>Search Results for "<%=results[0].name%>"</h1>
    <br>


    <div class="container text-center">
        
        <div class="row row-cols-auto"> 
            <%if(results.length == 1){%>
                <h5 style="color: azure;">There are no results for <%=results[0].name%>. Please check your search terms!</h5>
            <% } %>
            <!--RESULTS columns-->
            <% for (var i = 1; i < results.length; i++) { %>
                
                <div class="col">
                    <a href=<%=results[i].name%> style="text-decoration: none;">
                        <div class="card text-bg-light mb-3 cardhover" style="width: 18rem;">
                            <img src="<%=results[i].name%>.png" class="card-img-top" alt="<%=results[i].name%>" height="300">
                            <div class="card-body">
                                <h5 class="card-title cardsT"><%=results[i].name%></h5>
                                <p class="card-text cardsT">Explore this place...</p>
                                <p class="card-text"><small class="text-muted">Last updated <%= 7*i +1 %> days ago</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>


</body>
</html>